<nav>
  <div class="nav-container">
    <img alt="CompAir" width="89" src="/images/logo.png" />
    <div class="tag-line">How well do you know your air?</div>
  </div>
</nav>

<div class="content-container">

<div class="choose-grade-section">
  <form action="/city_detail" method="GET">

    <div class="location"><h1>Please enter your zip code</h1>
      <input class="location-zipcode" type="text" name="zipcode" value="90401" />
      <p class="coaching-tip">Not your location? Enter zip code above</p>
    </div>

    <div class="text-section">
      <h1>What does the air quality feel like today?</h1>
    </div>

    <div>
      <input type="radio" id="user-aqg-A" name="user-aqg" value="A" />
      <label class="grade-btn user-aqg-a" for="user-aqg-A"></label>
    </div>

    <div>
      <input type="radio" id="user-aqg-B" name="user-aqg" value="B"/>
      <label class="grade-btn user-aqg-b" for="user-aqg-B"></label>
    </div>

    <div>
      <input type="radio" id="user-aqg-C" name="user-aqg" value="C"/>
      <label class="grade-btn user-aqg-c" for="user-aqg-C"></label>
    </div>

    <div>
      <input type="radio" id="user-aqg-D" name="user-aqg" value="D"/>
      <label class="grade-btn user-aqg-d" for="user-aqg-D"></label>
    </div>

    <div>
      <input type="radio" id="user-aqg-E" name="user-aqg" value="E"/>
      <label class="grade-btn user-aqg-e" for="user-aqg-E"></label>
    </div>

    <div>
      <input type="radio" id="user-aqg-F" name="user-aqg" value="F"/>
      <label class="grade-btn user-aqg-f" for="user-aqg-F"></label>
    </div>

    <div class="text-section">
      <h1>Awesome! Now lets see what the scientists say ...</h1>
      <p>We have real-time data about air quality, now see what the Air Quality Index in your area.</p>
    </div>
    <button class="compare-now">Compare Now</button>
  </form>
</div>
</div>