<div id="page-title">Home Page</div>

<form action="/city_detail" method="GET">
  <label for="zipcode">Enter your zip code:</label>
  <input type="text" name="zipcode" />
  <br/>
  <label for="user-aqg">What does the air feel like today?</label>
  <input type="radio" id="user-aqg-A" name="user-aqg" value="A"/><label for="user-aqg-A">A</label><br/>
  <input type="radio" id="user-aqg-B" name="user-aqg" value="B"/><label for="user-aqg-B">B</label><br/>
  <input type="radio" id="user-aqg-C" name="user-aqg" value="C"/><label for="user-aqg-C">C</label><br/>
  <input type="radio" id="user-aqg-D" name="user-aqg" value="D"/><label for="user-aqg-D">D</label><br/>
  <input type="radio" id="user-aqg-E" name="user-aqg" value="E"/><label for="user-aqg-E">E</label><br/>
  <input type="radio" id="user-aqg-F" name="user-aqg" value="F"/><label for="user-aqg-F">F</label><br/>
  <button>Submit</button>
</form>
