<div id="page-title">City Detail</div>
<div>
  Air Quality for zipcode <%= @zipcode %>
</div>
<div>
  Your Grade:
  <span id="user-aqg"><%= @user_aqg %></span>
</div>
<div>
  EPA AQI Grade:
  <span id="epa-aqg"><%= @epa_aqg %></span>
</div>